body{background: linear-gradient(#46949b,
                #46949b,
                #a3d4f3,
                #c0e6fa) ;
                display:flex;
                justify-content:center;
                align-items:center;
                background-attachment: fixed;}